.model-title
	{
		
		font-size:28px;	
	}

.test-size
	{
		
		font-size:14px;
		padding-top:2%;
		padding-left: 2%;
	}

.disabled { pointer-events: none; opacity:0.3;}

.customer-font
   {
		
		font-size:28px;	
   }
 .noPaddingLeft{
 	padding-left:0px !important;
 }
   
 .noPaddingRight{
 	padding-right:0px !important;
 }
.subHeading{
   font-size:20px;	
   font-weight: bold;
   margin-bottom:25px !important;
   }
 .customer-field
 	{
 		
		font-size:15px;
 	}

 .marginLeftRight{
		margin-left:25px;
	    margin-right:25px ;
	    margin-top:15px;
 }
 
 .panelMarginBottom{
   margin-bottom:15px !important;
 }
 
 .company-font
 	{
 
 		
 		font-size:20px;	
 	}
 	
.checkalt
	     {
	       margin-left:60px !important;
	     }
	     
.font-title
         {
         	font-size:16px;
         	
	     }
	     
	     
.new-masters
		{
		padding-left: 30px !important;
		font-size:16px;
		padding-top: 10px;	
		padding-bottom: 10px;		
		}

.content-body
		{	
		padding-left: 30px !important;;
		padding-right: 30px !important;
	    }
	    
.setup{
	
		    padding-top: 10px;
           padding-bottom: 10px;
      }
 .header-size
      {
 			height:72px;
 			font-size:28px;
 			 			
      }
   
   	.mybutton{
	
	border:none;
	background-color:snow;
	margin-left:25px;
	margin-top:5px;
	margin-bottom:5px;
	}   
  .icons-button{
  			       
                padding-bottom: 10px;
  }
  
    .default-price
     {
  		padding-top:115px;
  		
     }
  	
		@media (max-width: 768px) {
			.icons-button {
			    padding-left: 0px !important;
                padding-right: 0px !important;
			}}
  
  @media (max-width: 1199px) {
			 .default-price
			     {
			  		padding-top:0px !important;
			  		padding-bottom:0px !important;
			     }
  	
			}
  
  
  