.model-title
	{
		
		font-size:28px;	
	}

.test-size
	{
		
		font-size:14px;
		padding-top:2%;
		padding-left: 2%;
	}

.disabled { pointer-events: none; opacity:0.3;}
.formBottom{	
	margin-bottom: 45px;
}
.customer-font
   {
		
		font-size:28px;	
   }
 .noPaddingLeft{
 	padding-left:0px !important;
 }
   
 .noPaddingRight{
 	padding-right:0px !important;
 }
.subHeading{
   font-size:20px;	
   font-weight: bold;
   margin-bottom:25px !important;
   }
 .customer-field
 	{
 		
		font-size:15px;
 	}

 .marginLeftRight{
		margin-left:25px;
	    margin-right:25px ;
	    margin-top:15px;
 }
 
 .panelMarginBottom{
   margin-bottom:15px !important;
 }
 
 .company-font
 	{
 
 		
 		font-size:20px;	
 	}
 	
.checkalt
	     {
	       margin-left:60px !important;
	     }
	     
.font-title
         {
         	font-size:16px;
         	
	     }
	     
	     
.new-masters
		{
		padding-left: 30px !important;
		font-size:16px;
		padding-top: 10px;	
		padding-bottom: 10px;		
		}

.content-body
		{	
		padding-left: 30px !important;;
		padding-right: 30px !important;
	    }
	    
.setup{
	
		    padding-top: 10px;
           padding-bottom: 10px;
      }
 .header-size
      {
 			height:72px;
 			font-size:28px;
 			 			
      }
   
   	.mybutton{
	
	border:none;
	background-color:snow;
	margin-left:25px;
	margin-top:5px;
	margin-bottom:5px;
	}   
  .icons-button{
  			       
                padding-bottom: 10px;
  }
  
    .default-price
     {
  		padding-top:115px;
  		
     }
  	
		@media (max-width: 768px) {
			.icons-button {
			    padding-left: 0px !important;
                padding-right: 0px !important;
			}}
  
  @media (max-width: 1199px) {
			 .default-price
			     {
			  		padding-top:0px !important;
			  		padding-bottom:0px !important;
			     }
  	
			}
  
  .GenLeftRight{
		margin-left:25px;
	    margin-right:25px ;
	   
 }
 
  .subHead{
  	margin-bottom:15px;
   font-size: 20px;
  }
  
  	.Paddingleft 
  	      {
  			padding-left:25px;
  			padding-right:25px;
  	       }
  	       
  	.branch-heading
  	    {
  			padding-top:8px;
  			font-size:16px;
  			font-weight:bold;
  	     }
  	     
  	  .branchclass
        { 
        padding-left:0px !important;
        padding-top: 5px;
        display: flex;
        }   
     
         .text-margin
         {
         	  margin-left: 10px;
         }
       
        .text-padding
        {
        	padding-top:5px;
        	width: 100px;
        }
        
         .text-paddingspace
        {
        	padding-top:5px;
        	width: 150px;
        }
        
        
        .sec-padding
        {
        	padding-top:20px;
        	font-size: 16px;
            font-weight: bold;
        }
        
        
          .subhead-padding
        {
        	padding-top:20px;
        	font-size: 16px;           
        }
        
         .boldletter{
         	font-weight:bold;
         }    
         
         .searchbar{
         	border-radius:17px;
         }
         .text-paddingwidth{
         	padding-top:5px;
        	width: 200px;
         }
         
         .spanclass{
         	padding-right: 5px;
         	
         }
         .padding-checkbox{
         	padding-left:20px;
         }
         
         .highlight {
              color: red;
           }
	
        .paddingtop{
        	padding-top:10px;
        } 
        .marginLeftSpace{
        	margin-left:7px;
        } 
        .marginleftrightspace{
        	margin-left:45px;
        	margin-right:30px;
        }
        
        .spacemarginleftright{
        	margin-right: 13px;
            margin-left: 62px;
        }
        
        .padding-button{
        padding-left: 25px;
        }
        
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width:400px;
  height:300px;
}

.makeRed{
	color:red;
}
.makeGreen{
	color:green;
}
			
	.checkbox input[type="checkbox"] {
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
	}
	
	.required {
		color : #FF0000;
	}
	
	.passward_validate {
			    background-color: #FFFFFF;
			    padding-top: 15px;
			    padding-bottom: 7px;
			    width: 50%;
			    z-index: 9999;
			    position: absolute;
			     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		}
		
	