.success {
  			background-color: #85ca2b;
		    padding: 25px;
		    color: white;
		    text-align: center;
		    position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 301;
  		}
  		.success:after{
		    content:"";
		    position:fixed;
		    z-index:301;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
		.failure {
  			background-color: #FF0000;
		    padding: 25px;
		    color: white;
		    text-align: center;
			position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 301;
  		}
  		.failure:after{
		    content:"";
		    position:fixed;
		    z-index:301;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
  		.hideme {
  			display : none;
  		}
  		.scrollHidden {				
			overflow-x: hidden;			
		}