.success {
  			background-color: #85ca2b;
		    padding: 25px;
		    color: white;
		    text-align: center;
		    position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 1500;
  		}
  		
  		.success:after{
		    content:"";
		    position:fixed;
		    z-index:1500;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
		
		.failure {
  			background-color: #FF0000;
		    padding: 25px;
		    color: white;
		    text-align: center;
			position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 1500;
  		}
  		.failure:after{
		    content:"";
		    position:fixed;
		    z-index:1500;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
		
		.success-forgot {
  			background-color: #85ca2b;
		    padding: 25px;
		    color: white;
		    text-align: center;
		    position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 1500;
  		}
  		.success-forgot:after{
		    content:"";
		    position:fixed;
		    z-index:1500;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
		.failure-forgot {
  			background-color: #FF0000;
		    padding: 25px;
		    color: white;
		    text-align: center;
			position:fixed;
		    width : 100%;
		   /*  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
		   
		      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 1500;
  		}
  		.failure-forgot:after{
		    content:"";
		    position:fixed;
		    z-index:1500;
		    top:100%;
		    bottom:0;
		    width:120%;
		    height:50px;
		    left:-10%;
		    right:-10%;
		    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 30%);
		}
  		.hideme {
  			display : none;
  		}
  		.scrollHidden {				
			overflow-x: hidden;			
		}
		
		.overlay {
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-color:rgba(0, 0, 0, 0.85);
				z-index: 301;
				color:white;
			}
			
			.shipment_View {
  			background-color: #FFF;
		    padding: 25px;

		    position:fixed;
		    height : 80%;
		    width : 80%;
			margin : auto auto;
				   
	      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
 			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		    font-size: 5mm;
		    z-index: 1500;
		    overflow-y: scroll;
		    margin-left: 10%;
   			 margin-top: 5%;
  		}